<launch>
<group ns="cam_rgb">
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video4" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="cam_rgb" />
    <param name="camera_name" value="cam_rgb" />
    <param name="io_method" value="mmap"/>
  </node>
</group>
<group ns="cam_t">
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="720" />
    <param name="image_height" value="576" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="cam_t" />
    <param name="camera_name" value="cam_t" />
    <param name="io_method" value="mmap"/>
  </node>
</group>
</launch>
